In [6]:
def main():
    print("Hello,World!")
    
if __name__=='__main__':
    main()
import csv
import math
f=open('2022_Seoul_Temp.csv',encoding='cp949')
data=csv.reader(f)
header=next(data)
s=['Average Temperature','Average Minimum Temperature','Average Maximum Temperature']
avr=0
n=0
min=0
max=0
for row in data:
    if(row[-1]!='')&(row[-2]!='')&(row[-3]!=''):
        avr+=float(row[-3])
        min+=float(row[-2])
        max+=float(row[-1])
        n+=1
avr=avr/n
min=min/n
max=max/n
print('*** Annual Temperature Report for Seoul in 2022***')
print(s[0]+': '+str(round(avr,2))+' Celsius')
print(s[1]+': '+str(round(min,2))+' Celsius')
print(s[2]+': '+str(round(max,2))+' Celsius')

Hello,World!
*** Annual Temperature Report for Seoul in 2022***
Average Temperature: 13.26 Celsius
Average Minimum Temperature: 9.21 Celsius
Average Maximum Temperature: 18.05 Celsius